extends ../navbar.pug

block content


  div
    a.btn.btn-primary.border-white.btn-xl.mt-3#addBookBtn(href="/books/add")
      i.glyphicon.glyphicon-plus
      span.text-uppercase  Add book

  .list-group
    each book in books
      a.list-group-item(href=`/books/${book.id}`)
          h4.text-primary= book.title
          p.text-secondary= book.author

  if !books.length
    p No books found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More
