//CAROUSEL
div.carousel.slide#myCarousel(data-ride="carousel")
    ol.carousel-indicators
        li.active(data-target="#myCarousel" data-slide-to="0")
        li(data-target="myCarousel" data-slide-to="1")
        li(data-target="myCarousel" data-slide-to="2")

    div.carousel-inner(role="listbox")
        div.item.active
            img.carousel-photo(src="img/carousel/beach.jpg" alt="beach")
            div.carousel-caption
                h3 Пляж7
                p Лазурное побережье реки Волги

        div.item
            img.carousel-photo(src="img/carousel/yaroslavl.jpg" alt="yaroslavl")
            div.carousel-caption
                h3 Ярославль
                p Безумный день в древнейшем городе России

        div.item
            img.carousel-photo(src="img/carousel/rusinovo.jpg" alt="Rusinovo")
            div.carousel-caption
                h3 Русиново
                p Экзотический заповедник


    a.left.carousel-control(href="#myCarousel" role="button" data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Previous

    a.right.carousel-control(href="#myCarousel" role="button" data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Next
