doctype html
html(lang="en")
    head
        title Ошибка
        meta(charset="utf-8")
        link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")

    body.text-center

        h1(style="padding-top: 250px;") Такой страницы не существует!
        img(src="img/error.jpg")
        h2: a.d-block(href="/") Вернуться на главную
