extends navbar

block content

    section.page-section
        div.container
            div.intro
                img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src="img/intro.jpg", alt="")
                div.intro-text.left-0.text-center.bg-faded.p-5.rounded
                    h2.section-heading.mb-4
                        span.section-heading-upper Fresh Coffee
                        span.section-heading-lower Worth Drinking
                    p.mb-3 Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
                    div.intro-button.mx-auto
                        a.btn.btn-primary.btn-xl(href="#") Visit Us Today!






