doctype html
html(lang="en")
    head
        title тест
        meta(charset="utf-8")
        link(href="test.css" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
        script(src="test.js")

    body
        .icon-bar
            a.active(href="#"): i.fa.fa-home
            a(href="#"): i.fa.fa-search
            a(href="#"): i.fa.fa-envelope
            a(href="#"): i.fa.fa-globe
            a(href="#"): i.fa.fa-trash
            .icon-container(onclick="animateIcon(this)")
                div.bar1
                div.bar2
                div.bar3







